SonyOfxPIDK

*-*-debug

*-*-release

video_plugin_kit_OFX.zip

Generator-Checkerboard/Info.plist

Generator-Checkerboard/checkerboard.cpp

KitchenSink/Info.plist

KitchenSink/kitchensink.cpp

TimeSlice/timeslice.cpp

TimeSlice/Info.plist
